@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand: #ff5a5f;
  --background-accent: #282828;
  --background-primary: #1c1c1c;
  --background-secondary: #121212;
  --background-secondary-alt: #1c1c1c;
  --background-tertiary: #0d0d0d;
  --background-floating: #2c2c2c;
  --background-modifier-hover: rgba(255, 255, 255, 0.08);
  --background-modifier-active: rgba(255, 255, 255, 0.16);
  --background-modifier-selected: rgba(255, 255, 255, 0.24);
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
  --channels-default: #8e9297;
  --channeltextarea-background: #1c1c1c;
  --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.64);
  --header-primary: #fff;
  --header-secondary: #8e9297;
  --interactive-normal: #8e9297;
  --interactive-hover: #fff;
  --interactive-active: #ff5a5f;
  --scrollbar-thin-thumb: #1c1c1c;
  --scrollbar-thin-track: transparent;
  --text-normal: #fff;
  --text-muted: #8e9297;
  --text-danger: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
  --text-link: hsl(0, calc(var(--saturation-factor, 1) * 100%), 60%);
  --font: "IBM Plex Mono", monospace;
}

body {
  font-family: var(--font);
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}

.disable-select {
  user-select: none; 
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.scrollable {
  overflow: hidden scroll;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}

.scrollable:hover {
  scrollbar-color: var(--scrollbar-thin-thumb) var(--scrollbar-thin-track);
}

.scrollable::-webkit-scrollbar,
.scrollable::-webkit-scrollbar-thumb,
.scrollable::-webkit-scrollbar-track {
  visibility: hidden;
}

.scrollable:hover::-webkit-scrollbar,
.scrollable:hover::-webkit-scrollbar-thumb,
.scrollable:hover::-webkit-scrollbar-track {
  visibility: visible;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thin-thumb);
}

.scrollable::-webkit-scrollbar-track {
  background-color: var(--scrollbar-thin-track);
  border-color: var(--scrollbar-thin-track);
}

.errorMessage {
  color: var(--text-danger);
  font-weight: 400;
  font-style: italic;
  text-transform: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 0.5em;
  color: var(--secondary-color);
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  margin-bottom: 1em;
  line-height: 1.5;
}

ul, ol {
  margin-bottom: 1em;
  line-height: 1.5;
}

li {
  margin-bottom: 0.5em;
}